.head1{
  text-align: center;
  font-family: 'Major Mono Display', monospace;
font-family: 'Saira Stencil One', cursive;
position: relative;
left:50px;
}
.list {
  text-align: center;
}
.list-iteam{
  text-align: center;
  justify-content:
}
.list-item-1{
  position: relative;
  right:150px
}
.list-item-2{
  position: relative;
  right:50px;
}
.list-item-3{
  position: relative;
  right:-65px;
}
.list-item-4{
  position: relative;
  right:-150px;
}
.list-iteam a{
  text-decoration: none;
  font-size:15px;
  color:white;
}
.header{
  padding:10px;
  color:black;
}
span{
  color: #0041ff;
}
body{
  background:black;
}
.flexbox-container
{
  display:flex;
  justify-content: space-around;
}
.flexbox-item{
  width:200px;
  height: 250px;
  margin:30px;
  box-shadow: 10px  2px  2px red ;
}

.linkref a{
  text-decoration: none;
  position: relative;
  font-size:30px;
}
.linkref1{
  left:120px;

}
.linkref2{
  left:430px;

}
.linkref3{
  left:820px;

}
.linkref4{
  right:-1000px;

}
@media only screen and (max-width:700px){
  .list-iteam a{
    text-decoration: none;
    position: relative;
    font-size: 10px;
  }
  .list-item-1{
    margin: 0px;
    position: relative;
    right:60px
  }
  .list-item-2{
    position: relative;
    right:25px;
  }
  .list-item-3{
    position: relative;
    right:0px;
  }
  .list-item-4{
    position: relative;
    right:-30px;
  }
  .head1{
    font-size:12px;
    position: relative;
    left:10px;
  }
  .flexbox-item{
    display:flex;
    justify-content: space-around;
    box-shadow:none;
  }
  .imga{
    height:100px;
    width: 100px;
    position: relative;
  }
  .imgb{
    height:100px;
    width: 100px;

  }
  .imgc{
    height:100px;
    width: 100px;
  }
  .imgd{
    height:100px;
    width: 100px;
  }
  .linkref a{
    font-size:8px;
  }
  .linkref1{
    left:90px;
    bottom:210px;

  }
  .linkref2{
    left:225px;
    bottom:210px;

  }
  .linkref3{
    left:40px;
    bottom:30px;

  }
  .linkref4{
    left:170px;
    bottom:30px;
  }
  .flexbox-item-1{
    position: relative;
    top:-30px;
    left:160px;

  }
  .flexbox-item-2{
    position: relative;
    top:-30px;
    left:160px;
  }
  .flexbox-item-3{
    position: relative;
    top:150px;
    left:-160px;
  }
  .flexbox-item-4{
    position: relative;
    top:150px;
    left:-160px;
  }


}
